/* image styles*/
img {
	display: block;
	margin: auto;
}

/* paragraph */
p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
	background-color: #330066;
	margin: 3em;
	padding: 2em;
	color: #AAAAAA;
}

/* division */
/* div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
} */

/* hyperlink */
a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
	display: inline-block
}

/* section  */
span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}

/* heading 1 */
h1 {
	color: #AAAAAA;
	text-align: center;
	background-color: #330066;
	margin: 2em;
	padding: 1em;
}

/* body */
body {
	background-color: #160033;
}

/* chart bar */
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
