html {
	background-color: #1A1A1A;
}

div {
    color: white;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
	background-color: #A3A3A3;
}

.head {
    height:1em;
    text-align:center;
    font-size:2em;
}

.topbar {

	height:3em;
	width:auto;
    position:relative;
    background-color: #A3A3A3;
    list-style:none;
    text-align:right;

}
.topbar ul {
	list-style-type: none;
	position:relative;
    width: 100%;
}

.topbar ul li {
	display: inline;
    margin-left: 5em;
}
.topbar li {
    float: left;
    position: relative;
}
.topbar li a {
    display: block;
    text-align: right;
    text-decoration: none;
    margin: 1em 6em;
    text-decoration: none;
	font-family: Verdana, sans-serif;
	display: inline-block
}

.body {
    width: auto;
    height: 15em;
    color:white;
}

.footer {
    text-align:center;
    height:1.5em;
    width:auto;
    background-color: #A3A3A3;
}

<<<<<<< HEAD
/* body */
body {
	background-color: #160033;
}

/* chart bar */
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
=======
>>>>>>> 5cdfbdfc436c5cffdf48208431f193996495d39c
