html    {background-color: #1A1A1A;}
div     {color: white;}
p       {text-align: center;
	    font-family: Garamond, serif;
	    font-size: 18px;
	    background-color: #A3A3A3;
        padding:2em;}
.head   {height:1em;
        text-align:center;
        font-size:2em;}
.body   {width: auto;
        height: 15em;
        /*height:auto;*/
        color:white;}
.footer {text-align:center;
        height:1.5em;
        width:auto;
        background-color: #A3A3A3;}
.bar    {font: 10px sans-serif;
        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: white;}

#menu {text-align:center;}
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
    ul#menu li, ul#menu ul.sub-menu li {
        list-style-type: none;
        display: inline-block;
    }
        ul#menu li a, ul#menu li ul.sub-menu li a {
            text-decoration: none;
            color: #fff;
            background: #666;
            padding: 5px;
            display:inline-block;
        }
ul#menu li {
    position: relative;
}
#menu li:hover a{
background-color:#898989;
}
    ul#menu li ul.sub-menu {
        display:none;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100px;
    }
        ul#menu li:hover ul.sub-menu {
            display:block;
        }
        ul#menu li ul.sub-menu a:hover{
            background-color: #898989;
        }
