<!--Daniel Cheng 2014-05-22-01:03PM-->
<!DOCTYPE html>
<html>
	<head>
		<title>HTML/CSS/Flask/Heroku Demo</title>
		<!--Dynamic stylesheet linking through Jinja2. Otherwise, subsitute url for your own stylesheet (/static/stylesheets/stylesheet.css)-->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}"/>
		<!--d3 script initilization.-->
		<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
	</head>
	<body>
	    <h1>Hello!
	    </h1>
	    <p>
			<a href="http://paradoxspace.com/deadline-day/1">
				<img src="http://5dba6a3fed9e496b8770-f2149e9127ff8540d4cb880380183fc8.r80.cf2.rackcdn.com/page_images/79/4d2b93bde7d782d6540eb4f429daa2c9b6e77f98.png"/>
			</a>
		</p>
		<p>
			How does this even work...
			<a href="http://paradoxspace.com/">doofwad</a>
	    </p>
		
		<!--d3 script usage.-->
	    <div id="viz"></div>
		<script type="text/javascript">
		<!--Creates svg vector graph, displaying in the html element with id #viz-->
		var sampleSVG = d3.select("#viz")
			.append("svg")
			.attr("width", 100)
			.attr("height", 100);    
		
		<!--Hovering is still wonky? Will have to check out later.-->
		sampleSVG.append("circle")
			.style("stroke", "gray")
			.style("fill", "white")
			.attr("r", 40)
			.attr("cx", 50)
			.attr("cy", 50)
			.on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
			.on("mouseout", function(){d3.select(this).style("fill", "white");});
		
		</script>
	</body>
</html>