

<!--Daniel Cheng 2014-05-22-01:03PM-->
<!DOCTYPE html>
<html>
	<head>
		<title>HTML/CSS/Flask/Heroku Demo</title>
		<!--Dynamic stylesheet linking through Jinja2. Otherwise, subsitute url for your own stylesheet (/static/stylesheets/stylesheet.css)-->
		<link type="text/css" rel="stylesheet" href="/static/stylesheets/stylesheet.css"/>
		<!--d3 script initilization.-->
		<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
	</head>
	<body>
        <svg id="mySvg" width="80" height="80">
          <defs id="mdef">
            <pattern id="image" x="0" y="0" height="40" width="40">
              <image x="0" y="0" width="40" height="40" xlink:href="http://www.e-pint.com/epint.jpg"></image>
            </pattern>
           </defs>
        </svg>

        <div class="body">
            <div class="head">
                YouTube Visualizer
            </div>

        <ul id="menu">
            <li><a onclick="channelFunction()" href="#">Enter Channel Name</a></li>
            <li><a href="#">Visualizations</a>
               <ul class="sub-menu">
                    <li><a href="#">Bubble Map</a></li>
                    <li><a href="#">Bar Graph</a></li>
                    <li><a href="#">Pie Graph</a></li>
               </ul>
            </li>
            <li><a href="#">Sort By</a>
                <ul class="sub-menu">
                    <li><a href="#">Subscribers</a></li>
                    <li><a href="#">View Count</a></li>
                    <li><a href="#">Subscriptions</a></li>
                    <li><a href="#">Date</a></li>
                </ul>
            </li>
            <li><a onclick="helpFunction()" href="#">Help</a></li>
            <li><a onclick="aboutFunction()" href="#">About</a></li>
        </ul>

        <script type="text/javascript">
                function channelFunction() {
                    var x;
                    var channel = prompt("Please enter the channel name:","smosh");
                    if (person != null) {
                        post('/', {channelname: person})
                    }
                }

                function helpFunction() {
                    window.alert("TOO BAD\n")
                }

                function aboutFunction() {
                    window.alert("HACK UCI 2014\n")
                }
        </script>

                <form method=post action="/">
                  <dl>

                  <dt><label for="channelname">Channel name</label>
                  <dd><input id="channelname" name="channelname" type="text" value="">

                  </dd>

                  </dl>
                  <p><input type=submit value=Submit>
                </form>
        {% set counter = 0 %}
        {% for l in data %}
                <svg id="s{{counter}}" width="80" height="80">
                  <defs id="mdef">
                    <pattern id="i{{counter}}" x="0" y="0" height="40" width="40">
                      <image x="0" y="0" width="40" height="40" xlink:href="{{l[0]}}"></image>
                    </pattern>
                 </defs>
             </svg>

        <script type="text/javascript">

            var svg = d3.select("body").append("svg").attr("height", "250px").attr("width", "200px")
            console.log("{{l[0]}}")
            svg.append("circle")
             .attr("cx", 150)
             .attr("cy", 200)
             .attr("r", 50)
             .style("fill", "transparent")
             .style("stroke", "black")
              .on("mouseover", function(){
                d3.select(this)
                .style("fill", "url(#i{{counter}})")
                return tooltip.style("visibility", "visible");
                })
                .on("mousemove", function(){
                return tooltip.style("top", (event.pageY -10) + "px")
                .style("left", (event.pageX + 10) + "px");
                })
                .on("mouseout", function(){
                d3.select(this)
                .style("fill", "transparent")
                return tooltip.style("visibility", "visible");
                });
              var tooltip = d3.select("body")
              .append("div")
              .style("position", "absolute")
              .style("z-index", "10")
              .style("visibility", "hidden")
              .text("{{l[1]}}");
              {% set counter = counter + 1 %}
                </script>
        {% endfor %}
            <p id="viz">

            </p>

            <div class="footer">
                this is the footer
            </div>
        </div>

    <script type="text/javascript">
        <!--Creates svg vector graph, displaying in the html element with id #viz-->
        width = innerWidth * .85;
        height = innerHeight * .85;
        circle_radius = 50;
        x0 = 0;
        y0 = 0;



        var svg = d3.select("#viz").append("svg")
          .attr("width", width)
          .attr("height", height);



        </script>
	</body>
</html>