
<!--Daniel Cheng 2014-05-22-01:03PM-->
<!DOCTYPE html>
<html>
	<head>
		<title>HTML/CSS/Flask/Heroku Demo</title>
		<!--Dynamic stylesheet linking through Jinja2. Otherwise, subsitute url for your own stylesheet (/static/stylesheets/stylesheet.css)-->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}"/>
		<!--d3 script initilization.-->
		<!--<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>-->
	</head>
	<body>
        <div class="body">
            <div class="head">
                YouTube Visualizer
            </div>

        <ul id="menu">
            <li><a onclick="channelFunction()" href="#">Enter Channel Name</a></li>
            <li><a href="#">Visualizations</a>
               <ul class="sub-menu">
                    <li><a href="#">Bubble Map</a></li>
                    <li><a href="#">Bar Graph</a></li>
                    <li><a href="#">Pie Graph</a></li>
               </ul>
            </li>
            <li><a href="#">Sort By</a>
                <ul class="sub-menu">
                    <li><a href="#">Subscribers</a></li>
                    <li><a href="#">View Count</a></li>
                    <li><a href="#">Subscriptions</a></li>
                    <li><a href="#">Date</a></li>
                </ul>
            </li>
            <li><a onclick="helpFunction()" href="#">Help</a></li>
            <li><a onclick="aboutFunction()" href="#">About</a></li>
        </ul>



            {% from "_formhelpers.html" import render_field %}
                <form method=post action="/">
                  <dl>
                    {{ render_field(form.channelname) }}
                  </dl>
                  <input type=submit value=Submit>
                </form>


            {% if data %}
                <img src= "{{data['items'][0]['snippet']['thumbnails']['default']['url']}}"/>
                {{data['items'][0]['snippet']['title']}}
                {% for row in data2['items'] %}
                    <p>{{ row['snippet']['title']}} <br>
                       <img src="{{ row['snippet']['thumbnails']['default']['url']}}"></p>
                {% endfor %}
            {% endif %}

            <p id="viz">
            </p>
                <script type="text/javascript">
                <!--Creates svg vector graph, displaying in the html element with id #viz-->
                width = 700;
                height = 400;

                function displayNode(){
                    svg.append("circle")
                      .attr("transform", "translate(" + width / 2  + "," + height / 2 + ")")
                      .attr("r", "5")
                      .attr("class", "dot")
                      .style("cursor", "pointer")
                      .call(drag);
                }
                function click(){
                  // Ignore the click event if it was suppressed
                  if (d3.event.defaultPrevented) return;

                  // Extract the click location\
                  var point = d3.mouse(this)
                  , p = {x: point[0], y: point[1] };

                  // Append a new point
                  svg.append("circle")
                      .attr("transform", "translate(" + p.x + "," + p.y + ")")
                      .attr("r", "20")
                      .attr("class", "dot")
                      .style("cursor", "pointer")
                      .call(drag);
                }

                // Create the SVG
                var svg = d3.select("#viz").append("svg")
                  .attr("width", 700)
                  .attr("height", 400)
                  .on("click", click);

                // Add a background
                svg.append("rect")
                  .attr("width", width)
                  .attr("height", height)
                  .style("stroke", "#999999")
                  .style("fill", "#F6F6F6")

                // Define drag behavior
                var drag = d3.behavior.drag()
                    .on("drag", dragmove);

                function dragmove(d) {
                  var x = d3.event.x;
                  var y = d3.event.y;
                  d3.select(this).attr("transform", "translate(" + x + "," + y + ")");


                }

                function channelFunction() {
                    var x;
                    var channel = prompt("Please enter the channel name:","smosh");
                    if (person != null) {
                        post('/', {channelname: person})
                    }
                }

                function helpFunction() {
                    window.alert("TOO BAD\n")
                }

                function aboutFunction() {
                    window.alert("HACK UCI 2014\n")
                }


                </script>



            <!--d3 script usage.-->
            <p>How does this even work...shouldve	{{ viewCount }} {{ dummy }}
                <a href={{thumbnail}}>doofwad</a>
                <img src={{ thumbnail }}/></p>


            <div class="footer">
                this is the footer
            </div>
        </div>
	</body>
</html>
